body{
    padding: 0;
    margin: 0;
    background:rgba(0,0,0,0.7) url(./backgrpund-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.nav-bar{
    padding: 20px;
    height: 22px;
}
.nav-bar a{
    font-size: 20px;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: capitalize;
    
}
.nav-bar :hover{
    background-color:lime;
    transition:1s;
    color:white;
}
.content h1{
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    color: white;
    font-size: 4em;
}
h1{
    margin-left: 100px;
    padding: 5px;
    color: chartreuse;
}
h3{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.main-container{
    padding: 40px;
}
.btn input{
    border: 1px;
    border-radius: 5px;
    background-color:green;
    color:white;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
.btn input:hover{
    background-color: tomato;
    transition: 1s;
    font-size: 20px;
}
.image img{
    padding: 20px;
    width: 200px;
    float: right;
    shape-outside: url(./1200px-Anchor_pictogram_red.svg.png);
    shape-margin: 20px;
    margin-top: 150px;
}
p{
    margin: 10px;
    padding: 10px;
    color:white;
    font-size:17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    line-height: 24px;
    text-align: justify;
}
.text p{
    color:white;
}
.img1 img{
    width: 200px;
    float: left;
    shape-outside: url(./1200px-Anchor_pictogram_red.svg.png);
    shape-margin: 20px;
    margin-top: 150px; 
    text-align: justify;
}
.img1 h1{
    color:chartreuse;
    text-align: center;
}
footer{
    font-size: 10px;
    color: white;
    background-color: gray;
    text-align: center;
}